div {
  text-align: center;
}
ul {
  padding: 0;
}
.main ul {
  font-size: 0;
}
.main ul li {
  font-size: 16px;
  padding: 15px;
  vertical-align: middle;
}
.main button {
  margin: 15px 0;
}
.main .phase {
  margin-top: 15px;
}
